:root {
  --primary-color: #ded5c4;
  --secondary-color: #f9f9f9;
  --default-font: "Poppins", sans-serif;
  --branding-font: "Playfair Display", serif;
}

body {
  font-family: var(--default-font);
}

h1,
h2,
h4 {
  font-family: var(--branding-font);
}

nav {
  margin: 20px 0;
}

nav img {
  max-height: 40px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  list-style: none;
  display: inline;
  padding: 0 10px;
  line-height: 40px;
}

nav a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--primary-color);
}

nav li.active a {
  color: black;
}

footer .mail-link {
  font-size: 24px;
  color: black;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .mail-link:hover {
  color: var(--primary-color);
}

footer .some-icon {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

footer .some-icon:hover {
  color: white;
  background-color: var(--primary-color);
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 100px;
  margin-bottom: 48px;
  border-radius: 4px;
}


footer h4 {
  font-weight: bold;
  font-size: 48px;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 150px;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
}

.hero h2 {
  font-weight: bold;
  font-family: var(--default-font);
  font-size: 36px;
}

.hero p {
  font-size: 24px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 66px;
  margin-top: 40px;
  font-weight: bold;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font);
  font-weight: bold;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font);
  font-weight: bold;
}

.content p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font);
}

.content {
  margin: 30px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 4px;
}

.primary-btn:hover {
  color: black;
}

.project-description {
  padding: 100px 40px;
}

.project-description h2 {
  font-weight: bold;
  font-size: 64px;
}

.project-description p {
  line-height: 30px;
}

.secondary-btn {
  color: var(--primary-color);
  padding: 18px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.project-preview {
  border-radius: 4px;
  margin-top: 0px;
}

@media (width <= 1400px) {
  .project-description {
    padding: 40px 20px;
  }
}

@media (width <= 1200px) {
  .project-description {
    padding: 0;
  }

  .row {
    margin: 20px 0;
  }

  .about-section {
    padding: 80px 20px;
  }

  .about-section-content {
    margin-top: 0;
  }

  .dev-pic {
    margin-top: 100px;
  }
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description h2 {
    font-size: 38px;
    padding-top: 30px;
    margin-bottom: 25px !important;
  }

  .hero {
    padding: 60px 10px;
  }

  .hero h1 {
    font-size: 64px;
  }

  .about-section {
    padding: 0;
    text-align: center;
  }

  .dev-pic {
    margin-top: 50px;
  }
}
