:root {
    --primary-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --default-font: 'Poppins', sans-serif;
    --branding-font: 'Playfair Display', serif;
}

body {
    font-family: var(--default-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--branding-font);
}

.hero {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 150px ;
}

.hero h1 {
    font-size: 96px;
    font-weight: bold;
}

.hero h2 {
    font-weight: bold;
    font-family: var(--default-font);
    font-size: 36px;;
}

.hero p {
    font-size: 24px;
}

.contact-btn {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 4px;
}

.project-description {
    padding: 100px 40px;
}

.project-description h2 {
    font-weight: bold;
    font-size: 64px;
}

.project-description p {
    line-height: 30px;
}

.project-btn {
    color: var(--primary-color);
    padding: 18px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

@media (width <= 1400px) {
    .project-description {
    padding: 40px 20px;
    }
}

@media (width <= 1200px) {
    .project-description {
    padding: 0;
    }

    .row {
        margin: 20px 0;
    }
}

@media (max-width: 960px) {
    .project-description {
        padding: 0;
        text-align: center;
    }

    .project-description h2 {
        font-size: 38px;
        padding-top: 30px;
        margin-bottom: 25px !important;
    }

    .hero {
        padding: 60px 10px;
    }

    .hero h1 {
        font-size: 64px;;
    }

}

